
<p id="notice"><%= notice %></p>
<p>
 <h1>
  <b>Name:</b>
  <%= @status.user.full_name %>
   <small><%= time_ago_in_words(@status.created_at) + " ago" %></small>
 </h1>
</p>

<p>
  <b>Content:</b>
  <%= @status.content %>
</p>


<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
 <%= link_to "Delete", @status, method: :delete, data: { confirm: "Are you sure your want to delete this status?"} %>